
.icon-pinterest-circular-button:before { content: '\e800'; } /* '' */
.icon-instagram-circular-button:before { content: '\e801'; } /* '' */
.icon-message-circular-button:before { content: '\e802'; } /* '' */
.icon-skype-circular-button:before { content: '\e803'; } /* '' */
.icon-twitter-circular-button:before { content: '\e804'; } /* '' */
.icon-facebook-circular-button:before { content: '\e805'; } /* '' */